services:
  postgresdb:
    image: postgres:13
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5544:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db_schema_init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  mysqldb:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    ports:
      - "3307:3306"
    volumes:
      - mysqldata:/var/lib/mysql
      - ./mysql_schema_init.sql:/docker-entrypoint-initdb.d/init.sql:ro
volumes:
  pgdata:
  mysqldata: